{% extends "base.html" %}
{% block titulo %}Cadastrar ?{% endblock %}
{% block js %}

{% endblock %}

{% block entrarsair %}
<li><a href="/produtos">Voltar</a></li>
<li><a href="/logout">Sair</a></li>
{% endblock %}

{% block content %}
    <h3 class="center-align">Cadastro de Sorvete</h3>

    {% if mensagem %}
        <p class="mensagem">{{mensagem}}</p>
    {% endif %}

    <!-- /{{ produto['id_produto'] }} -->
    <form action="/produtos/cadastrar" method="POST" class="form-cadastro" class="col s12" id="form_principal" enctype="multipart/form-data">

        {% if produto != 'novo' %}
            <div class="input-field col s12">
                <input id="id" type="text" class="validate" value="{{produto['id']}}">
                <label for="id">Id</label>
            </div>
        {% endif %}

        <div class="input-field col s12">
            <input id="nome" name="nome" type="text" class="validate" value="{{produto['nome']}}">
            <label for="nome">Nome</label>
        </div>

        <div class="input-field col s12">
            <input id="descricao" name="descricao" type="text" class="validate" value="{{produto['descricao']}}">
            <label for="descricao">Descrição</label>
        </div>

        <div class="input-field col s12">
            <input id="valorInicial" name="valorInicial" type="number" class="validate" value="{{produto['valorInicial']}}">
            <label for="valorInicial">Valor inicial</label>
        </div>

        <div class="input-field col s12">
            <input id="peso" name="peso" type="number" class="validate" value="{{produto['peso']}}">
            <label for="peso">Peso(gramas)</label>
        </div>

        <br/>

        <div class="button-center">
            {% if produto == 'novo' %}
            <!-- onclick="javascript:salvar();" -->
                <button type="submit" class="waves-effect waves-light btn">Cadastrar</button>
            {% endif %}
    
            {% if produto != 'novo' %}
                <button type="button" onclick="javascript:salvar();" class="waves-effect waves-light btn">Salvar</button>
            {% endif %}
        </div>

        <br/>

    </form>

{% endblock %}
