{% extends "base.html" %}
{% block titulo %}Cadastrar ?{% endblock %}
{% block js %}

{% endblock %}
{% block tipoUsr %}
{% if tipoUsr == 1 %} <!--1 = cliente // 2= fornecedor -->
<li><a href="#">COMPRA</a></li>
{% else %}
<li><a class="waves-effect waves-light btn" href="/produtos/cadastrar">Novo produto</a></li>
{% endif %}
{% endblock %}

{% block content %}
<h1>Produtos</h1>

    {% for produto in produtos %}
        {% if produto.desabilitado != 'S' %}
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a>{{ produto.nome }}</a>
            </li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href='/produtos/editar/{{produto.id}}'>Editar</a>
                    <a href='/produtos/desabilitar/{{produto.id}}'>Desabilitar</a>
                </li>
                </ul>
        {% else %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a><s>{{ produto.nome }}</s></a>
                </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href='/produtos/editar/{{produto.id}}'>Editar</a>
                        <a href='/produtos/desabilitar/{{produto.id}}'>Habilitar</a>
                    </li>
                    </ul>
        {% endif %}
    {% endfor %}

    
{% endblock %}