{% extends "base.html" %}
{% block titulo %}Cadastrar ?{% endblock %}
{% block js %}

{% endblock %}

{% block content %}
<h1>Sorvetes</h1>

    <ul class=" d-flex sorvete-medium-container">
        {% for produto in produtos %}
            <li class="list-group-item sorvete-item">

                {% if tipoUsr != 1 %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-align-lst">
                        {% if produto.desabilitado != 'S' %}
                        <a href='/produtos/desabilitar/{{produto.id}}'>Desabilitar</a>
                        {% else %}
                        <a href='/produtos/desabilitar/{{produto.id}}'>Habilitar</a>
                        {% endif %}
                        <a href='/produtos/editar/{{produto.id}}'>Editar</a>
                    </li>
                </ul>
                {% endif %}
                {% include 'sorvete.html' %}
                <a href="/produtos/detalhes/{{produto.id}}" class="sorvete-name">{{ produto.nome }}</a>
                <p class="sorvete-description">{{ produto.descricao }}</p>
                <p class="sorvete-price">R${{ produto.valorInicial }}<span class="sorvete-peso">({{ produto.peso }} gramas)</span></p>
            </li>
        {% endfor %}
    </ul>

    
{% endblock %}