<!-- Inicial -->
<div class="wrapper-box">

  <!-- Casquinha -->
  <div class="casquinha"></div>

  <!-- Sorvete PINK -->
  <div class="sorvetes sorvete-pink"></div>
  <div class="sorvete-pink-b borda1"></div>
  <div class="sorvete-pink-b borda2"></div>
  <div class="sorvete-pink-b borda3"></div>
  <div class="sorvete-pink-b borda4"></div>

  <!-- Sorvete AMARELO -->
  <div class="sorvetes sorvete-amarelo"></div>
  <div class="sorvete-amarelo-b borda1"></div>
  <div class="sorvete-amarelo-b borda2"></div>
  <div class="sorvete-amarelo-b borda3"></div>
  <div class="sorvete-amarelo-b borda4"></div>

  <!-- Sorvete VERMELHO -->
  <div class="sorvetes sorvete-vermelho"></div>
  <div class="sorvete-vermelho-b borda1"></div>
  <div class="sorvete-vermelho-b borda2"></div>
  <div class="sorvete-vermelho-b borda3"></div>
  <div class="sorvete-vermelho-b borda4"></div>
  <div class="sorvete-vermelho-b borda5"></div>

</div>