{% extends "base.html" %}
{% block titulo %}Cadastrar ?{% endblock %}
{% block js %}

{% endblock %}
{% block entrarsair %}
<li><a class="waves-effect waves-light btn" href="/sabores/cadastrar">Novo Sabor</a></li>
<li><a href="javascript:void(0)" onClick="history.go(-1); return false;">Voltar</a></li>
<li><a href="/logout">Sair</a></li>
{% endblock %}

{% block content %}
<h1>Sabores</h1>

    {% for sabor in sabores %}
        {% if sabor.desabilitado != 'S' %}
            <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <a>{{ sabor.sabor }}</a>
            </li>
            </ul>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <!--<a href='/sabores/editar/{{sabor.id}}'>Editar</a>-->
                    <a href='/sabores/desabilitar/{{sabor.id}}'>Desabilitar</a>
                </li>
                </ul>
        {% else %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a><s>{{ sabor.sabor }}</s></a>
                </li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <!--<a href='/sabores/editar/{{sabor.id}}'>Editar</a>-->
                        <a href='/sabores/desabilitar/{{sabor.id}}'>Habilitar</a>
                    </li>
                    </ul>
        {% endif %}
    {% endfor %}

    
{% endblock %}