{% extends "base.html" %}
{% block titulo %}Cadastrar ?{% endblock %}
{% block js %}
    function validar() {
        // const nome = document.getElementById('nome');
        // const sexo_masc = document.getElementById('sexo_masc');
        // const sexo_fem = document.getElementById('sexo_fem');
        // const serie = document.getElementById('serie');
        // if (nome.value === '') {
        //     alert("Preencha o nome.");
        //     return false;
        // }
        // if (!sexo_masc.checked && !sexo_fem.checked) {
        //     alert("Escolha o sexo.");
        //     return false;
        // }
        // if (serie.value === "escolha") {
        //     alert("Escolha a série.");
        //     return false;
        // }
        return true;
    }

    function salvar() {
        console.log('salvar')
        if (validar()) document.getElementById("form_principal").submit();
    }

{% endblock %}
{% block content %}
<form action="/cadastro/{{ usuario['id_usuario'] }}" method="POST" id="form_principal" enctype="multipart/form-data">

    <!-- <p>
        <label>Sexo:</label>
        <input type="radio" id="sexo_masc" name="sexo" value="M" {% if usuario['sexo'] == 'M' %}checked="checked"{% endif %}>Masculino</input>
        <input type="radio" id="sexo_fem" name="sexo" value="F" {% if usuario['sexo'] == 'F' %}checked="checked"{% endif %}>Feminino</input>
    </p> -->
    <!-- <p>
        <label for="serie">Série:</label>
        <select name="id_serie" id="serie">
            <option value="escolha">Escolha...</option>
            {% for serie in series %}
                <option value="{{serie['id_serie']}}" {% if usuario['id_serie'] == serie['id_serie'] %}selected="selected"{% endif %}>{{serie['numero']}} {{serie['turma']}}</option>
            {% endfor %}
        </select>
    </p> -->

        <!-- {% if usuario['id_usuario'] != 'novo' %}<button type="button" onclick="javascript:excluir();">Excluir</button>{% endif %} -->
</form>
    <h3 class="center-align">Cadastro</h3>

    <form action="/cadastro" method="POST" class="form-cadastro" class="col s12" id="form_principal">

        <h5 class="center-align">Dados pessoais</h5>
        {% if usuario != 'novo' %}
            <div class="input-field col s12">
                <input id="id" type="text" class="validate" value="{{usuario['id']}}">
                <label for="id">Id</label>
            </div>
        {% endif %}

        <div class="input-field col s12">
            <input id="nome" name="nome" type="text" class="validate" value="{{usuario['nome']}}">
            <label for="nome">Nome completo</label>
        </div>

        <div class="input-field col s12">
            <input name="email" id="email" type="email" class="validate" value="{{usuario['email']}}">
            <label for="email">E-mail</label>
            <span class="helper-text" data-error="Por favor digite um e-mail válido" data-success=""></span>
        </div>

        <div class="input-field col s12">
            <input name="senha" id="senha" type="password" class="validate" value="{{usuario['senha']}}">
            <label for="senha">Senha</label>
        </div>

        <div class="input-field col s12">
            <br/>
            <p>
                <label>
                    <input name="tipoUsuario" type="radio" checked value="1" />
                    <span>Cliente</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="tipoUsuario" type="radio" value="2" />
                    <span>Fornecedor</span>
                </label>
            </p>
            <label for="tipoUsuario">Tipo de usuário</label>
        </div>

        <h5 class="center-align">Endereço</h5>

        <div class="input-field col s12">
            <input name="cep" id="cep" type="text" class="validate" value="{{usuario['cep']}}">
            <label for="cep">CEP</label>
        </div>

        <div class="input-field col s12">
            <input name="uf" id="uf" type="text" class="validate" value="{{usuario['uf']}}">
            <label for="uf">Estado</label>
        </div>

        <div class="input-field col s12">
            <input name="cidade" id="cidade" type="text" class="validate" value="{{usuario['cidade']}}">
            <label for="cidade">Cidade</label>
        </div>

        <div class="input-field col s12">
            <input name="logradouro" id="logradouro" type="text" class="validate" value="{{usuario['logradouro']}}">
            <label for="logradouro">Logradouro</label>
        </div>

        <div class="input-field col s12">
            <input name="bairro" id="bairro" type="text" class="validate" value="{{usuario['bairro']}}">
            <label for="bairro">Bairro</label>
        </div>

        <div class="input-field col s12">
            <input name="numero" id="numero" type="text" class="validate" value="{{usuario['numero']}}">
            <label for="numero">Número</label>
        </div>

        <div class="input-field col s12">
            <input name="complemento" id="complemento" type="text" class="validate" value="{{usuario['complemento']}}">
            <label for="complemento">Complemento</label>
        </div>

        <div class="input-field col s12">
            <input name="pontoDeReferencia" id="pontoDeReferencia" type="text" class="validate" value="{{usuario['pontoDeReferencia']}}">
            <label for="pontoDeReferencia">Ponto de referência</label>
        </div>

        <div class="input-field col s12" style="display:none;">
            <input name="latitude" id="latitude" type="text" class="validate" value="{{usuario['latitude']}}">
            <label for="latitude">Latitude</label>
        </div>

        <div class="input-field col s12" style="display:none;">
            <input name="longitude" id="longitude" type="text" class="validate" value="{{usuario['longitude']}}">
            <label for="longitude">Longitude</label>
        </div>

        <br/>

        <div class="button-center">
            {% if usuario == 'novo' %}
            <!-- onclick="javascript:salvar();" -->
                <button type="submit" class="waves-effect waves-light btn">Cadastrar</button>
            {% endif %}
    
            {% if usuario != 'novo' %}
                <button type="button" onclick="javascript:salvar();" class="waves-effect waves-light btn">Salvar</button>
            {% endif %}
        </div>

        <br/>

    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <script>

        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#logradouro").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
            }
            
            //Quando o campo cep perde o foco.
            $("#cep").focusout(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#logradouro").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");


                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#logradouro").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);

                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    </script>
{% endblock %}
