{% extends "base.html" %}

{% block titulo %}Cadastrar ?{% endblock %}
{% block js %}

{% endblock %}

{% block entrarsair %}
<li><a href="/cadastro" class="waves-effect waves-light btn">cadastrar</a></li>
<li><a href="/login">Entrar</a></li>
{% endblock %}

{% block content %}

    {% if erro %}
    <br/>
    <br/>
    <div class="alert card amber lighten-4 brown-text">
        <div class="card-content">
            <!-- <i class="material-icons">report_problem</i> -->
            <p>{{erro}}</p>
        </div>
    </div>
    <br/>
    <br/>
    {% endif %}
    {% if mensagem %}
        <p class="mensagem">{{mensagem}}</p>
    {% endif %}
    <form action="./login" method="POST" class="login-container">
        
        <div class="row">
            <div class="input-field col s12">
            <input name="email" id="email" type="text" class="validate">
            <label for="email">E-mail</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
            <input name="senha" id="senha" type="password" class="validate">
            <label for="senha">Senha</label>
            </div>
        </div>

        <button type="submit" class="waves-effect waves-light btn">entrar</button>
    </form>
{% endblock %}