<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Sorveteria</title>
  
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}"/>
  <script>
    // {% block js %}{% endblock %}
    </script>

</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Sorvetes S.A.</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        {% block navbar %}

        {% if tipoUsr == 1 %} <!--1 = cliente // 2= fornecedor -->
        <li><a href="#">COMPRA</a></li>
        {% elif tipoUsr == 2 %}
        <li><a class="waves-effect waves-light btn" href="/produtos/cadastrar">Novo Produto</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <!-- <li><a href="/vendedor/id/produtos">Meus produtos</a></li> -->
        <li><a href="/pedidos">Meus pedidos</a></li>
        <li><a href="/sabores">Sabores</a></li>
        {% else %}
        {% endif %}
        {% endblock %}
        <!-- <i class="material-icons right">add</i> -->
        {% block entrarsair %} <li><a href="/logout">Sair</a></li> {% endblock %}
      </ul>
    </div>
  </nav>

  <div class="container">
    {% block content %} {% endblock %}
  </div>

</body>

</html>